* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  margin : 0;
  padding : 0;
} 

nav {
  background-color: #f2f2f2;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

nav a {
  margin: 0px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 5px;
  margin: 1em;
  border-radius: 5px;
  border: solid 1px #333;
}

a:hover {
  background-color: #333;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #212121;
  padding: 8px;
}

/* Style des trajets */
div * {
  margin: 1em;
}

div a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #333;
}

div a:hover {
  background-color: #333;
  color: #fff;
}

select {
  height: 30vh;
}

select option {
  margin: 0;
  padding: 1em;
  border: solid black 1px;
}
